# dependencies
node_modules

# testing
coverage

# production
dist

# misc
.DS_Store

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# env
.env

# artifacts/cache/data
artifacts
cache

coverage.json

@openzeppelin

Flatten*

.idea

run.md
config/env/*/.env.*
.vector/data

logs/*.log

deploy.md
scripts/bot/testBetAndClaim.ts